.todoItem {
  border: 1px solid lightgrey;
  padding: 8px;
  border-radius: 2px;
  align-items: center;
  cursor: pointer;
  word-break: break-all;
  display: grid;
  grid-template-columns: 1rem 1fr;
  gap: 0.9rem;
}

.todoDragableItem {
  height: 1rem;
}

.ticketText {
  text-transform: capitalize;
}

.completed {
  text-decoration: line-through;
  color: #c8c8cd;
}
