.inputContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}

.formInput {
  padding: 8px;
  background-color: white;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid grey;
  color: black;
}

.addButton {
  margin: 8px;
  cursor: pointer;
  text-align: left;
  color: grey;
  border: none;
  background-color: white;
  box-sizing: border-box;
  width: 100%;
}
