.App {
  display: flex;
  justify-content: center;
  width: 100%;
}

.Appinner {
  width: 95%;
  display: flex;
  flex-direction: column;
}

/* desktop */
@media only screen and (min-width: 1224px) {
  .Appinner {
    width: 90%;
    max-width: 1280px;
  }
}
